<?xml version="1.0"?>

<model>
  <name>mars_surface</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>M. Visca</name>
    <email>m.visca@surrey.ac.uk</email>
  </author>

  <description>
  	Terrain Generating from converting NASA's .stl files to heightmaps
  </description>

</model>
