<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="world" default="hmap"/>
	
	<include file="$(find mysim)/launch/hmap.launch">
		<arg name="world_n" value="$(arg world).world"/>
	</include>
	<include file="$(find mysim)/launch/rover_spawn.launch"/>
	<include file="$(find mysim)/launch/rover_control.launch"/>
	<include file="$(find mysim)/launch/rover_systems.launch"/>
<!-->	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mysim)/rviz/rover.rviz"/>
<-->
</launch>