<launch>
	
	<arg name="x_n" default="0.0" />
    <arg name="y_n" default="0.0" />
    <arg name="z_n" default="0.9" />
    <arg name="roll_n" default="0.0"/>
    <arg name="pitch_n" default="0.0"/>
    <arg name="yaw_n" default="0.0" />

	<arg name="model" default="$(find mysim)/urdf/curiosity_mars_rover.xacro"/>
	
	<!-- 
		Converts the xacro robot information to UDRF and use it as a robot_description parameter
	-->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	
	<!-- 
		push robot_description to factory and spawn robot in gazebo 
	-->
   <node name="urdf_spawner"
		 pkg="gazebo_ros"
		 type="spawn_model"
		 respawn="false"
		 output="screen"
    	 args="-urdf -x $(arg x_n) -y $(arg y_n) -z $(arg z_n) -R $(arg roll_n) -P $(arg pitch_n) -Y $(arg yaw_n) -model curiosity_mars_rover -param robot_description"/>

 		  
</launch>